@tailwind base;
@tailwind components;
@tailwind utilities;





body{
    font-family: 'Manrope', sans-serif;
    color: white;
    
}



@layer components {
    h1 {
      @apply text-white font-semibold text-5xl leading-[1.1] tracking-wide  md:text-5xl lg:text-6xl  ;
    }
    h2 {
      @apply text-white font-semibold text-3xl leading-[1.1] tracking-wide  md:text-4xl lg:text-5xl  ;
    }
    h3{
      @apply  text-white font-semibold text-2xl leading-[1.1] tracking-wide  md:text-3xl lg:text-4xl  ;
    }

    h4{
      @apply  text-white font-semibold text-base leading-[1.1] tracking-wide  md:text-lg lg:text-xl  ;
    }

    p{
      @apply text-white font-light text-[0.9rem] opacity-50
    }

    .flex-row-between{
      @apply flex  justify-between items-center
    }
    .flex-row{
      @apply flex  items-center
    }

    .flex-col-between{
      @apply flex  flex-col justify-between items-center
    }
  }

  img{
    cursor: pointer;
  }


   .hero{
   background-size: cover;
   background-position: center;
   
  } 


li{
  cursor: pointer;
}
  .cta{
    background-image: url(/public/images/home/desktop/pattern-circles.svg);
   background-repeat: no-repeat;
   background-position:center;
  }

  .articleImg{
     background-position:right !important;
     background-size: cover;
      
   /* background-size: ; */
   
  }